
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");



@keyframes spin {
    
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes Spinner {
    0% {
        height: 100%;
        opacity: 1;
    }
    100% {
        height: 100%;
        opacity: 0;
        z-index: -1;
    }
}


.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF;
    color: #9356DC;
    animation: 3s Spinner 2s forwards;
    position: absolute;
    z-index: 1;
    height: 147%;
    width: 100%;
    text-align: center;
    
}

.spinner {
    position: relative;
    width: 70px;
    height: 70px;
    bottom:20%;
    
}

.spinner:after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    bottom: -10px;
    right: -10px;
    border-radius: 50%;
    border: 6px solid transparent;
    border-top-color: #9356DC;
    animation: spin 1s linear 0s infinite;
}

main {
    width:auto;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

header {
    display: flex;
    position: relative;
    justify-content: center;
    padding: 5px;
}

header img{

    margin-top:10px;
    margin-bottom: 10px;
}

header a{
    color:#3d3a3a;
    position:relative;
    right:15%;
    top:27px;
    
}

.firstContent{
    height: 240px;
    display: flex;
    padding: 50px 30px;
    flex-direction: column;
    align-items: center;
    background: #f9f9f9;
    justify-content: center;
    text-align: center;
}

.firstContent h1{
    margin: 0;
    font-size: 1.7em;
}

.firstContent p{

    font-weight: 200;
}


.mapLogo p {
    padding-left: 15px;
}

.mapLogo {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #e8e8e8;
    justify-content: center;
    text-align: center;
    padding: 10px;
    box-shadow: inset 0px 10px 5px rgba(175, 175, 175, 0.5);
}


.firstContentButton{
    text-decoration: none;
    padding: 14px 24px;
    background-image: linear-gradient(180deg, #9356DC, #FF79DA);
    border-radius: 50px;
    box-shadow: 0px 8px 11px rgba(184, 184, 184, 0.3);
    color: #FFF;
    margin: auto;
    min-width: 150px;
    text-align: center;
    filter: brightness(1);
    transition: 100ms;
    
}


.firstContentButton:hover{
    filter: brightness(1.2);
    transform: scale(1.05);
    box-shadow: 0px 8px 11px #888888;

}


.functioningList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.functioningTitle{

    padding-top: 20px;
    margin-left: 20px;
    font-size: 1.3em;
}

.functioningButton {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    position: relative;
    background: #f9f9f9;
    padding: 30px 20px;
    width:75%;
    border-radius: 20px;
    box-shadow: 0px 6px 11px rgba(177, 175, 175, 0.3);
    transform: scale(1);
    transition: 100ms;
}

.functioningButton:hover{
    cursor: default;
    box-shadow: 0px 6px 10px #afafaf;
    background: #f4eefc;
    transform: scale(1.05);
    font-weight: 500;
    outline-style: none;
}

.functioningButton:hover .fas{
    color: #9356DC;
}

.functioningButton .fas {
    padding: 0px;
    margin: 0px 20px;
    color: gray;
    font-size: larger;
    
}

.functioningButton span {
    width: 25px;
    height: 25px;
    background: #9356dc;
    color: #FFF;
    border-radius: 100%;
    border: solid 2px #9356dc;
    flex-shrink: unset;
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    top: 30%;
    left: -15px;
    cursor: pointer;
    font-size: 0.8em;
}

.functioningButton p {
    margin: 0;
}

.functioningList {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
}

.restaurant {
    background: #f9f9f9;
    padding: 35px 10px;
    font-weight: 200;
    margin-top:50px;
    
}


.restaurantList {
    display: flex;
    flex-wrap: wrap;
}

.restaurantTitle {
    display: flex;
    justify-content: left;
    font-size: 1.3em;
}

.restaurantShape {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    height: 200px;
    width:95%;
    transform: scale(1);
    transition:100ms;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    background: #FFF;
    margin: 15px;
    box-shadow: 0px 6px 10px rgba(175, 175, 175, 0.3);
    
}

.restaurantShape:hover{
    transform: scale(1.1);
}


.restaurantPicture {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    overflow: hidden;
    height: 200px;
}

 
.restaurantPicture a {
    display: flex;
    justify-content: center;
}



.restaurantContent {
    position:relative;
    bottom:25px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}


h4{
    font-size: 1em;
    color: black;
    margin:0;
}


.restaurantContent a {
    text-decoration: none;
}


.restaurantContent * {
    margin: 0;
}

.restaurantContent .far{
    font-size: 1.4em;
    margin:20px 0;

}

.far:hover{
    cursor: pointer;
    background: -webkit-gradient(linear, right top, right bottom, from(#9356DC), to(#FF79DA));
    font-weight: 600;
    -webkit-text-fill-color:transparent;
    background-clip:text;
    -webkit-background-clip: text;
    
}

.restaurantNew {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #99E2D0;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 5px;
    color: #178066;
}

.restaurantNew p {
    margin: 0;
    font-size: small;
    font-weight: 600;
}

.restaurant img {
    width: 100%;
}

footer{
    padding: 20px;
    background: #3d3a3a;
}

footer p{
    color: white;
    font-family: "Shrikhand", cursive;
    line-height: 1.6;
    font-size: 1.2em;
}

.footerMenu ol{
    margin:0;
    list-style: none;
}

.footerMenu a{
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    margin:-40px;
    line-height: 25px;
}

.footerMenu a:hover * {
  color: #99E2D0;

}



/* Responsive Page d'accueil */


@media screen and (min-width: 515px) and (max-width: 768px) {

.restaurantShape{
    height: 350px;
}

.restaurantContent{
    padding-top:30px;
    font-size: 1.3em;
}

.restaurantPicture{
    height:290px;
}

.restaurantContent .far{

    width:35px;
    
}

.footerMenu{
    padding:20px;
}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

.functioningTitle{
    display: flex;
    justify-content: center;
}

.functioningButton{
    display:flex;
    flex-direction: row;
    width: 30%;
}

.restaurantTitle{
    display: flex;
    justify-content: center;
}

.restaurantList{
    margin-left:8%;
}

.restaurantShape{
    display:flex;
    width : 40%;
}

.footerMenu{
    padding:20px;
}
}


@media screen and (min-width: 1025px) and (max-width: 1440px) {

.restaurantContent .far {
    width: 10px;
    
}
.functioningTitle{
    display: flex;
    justify-content: center;
}

.functioningButton{
    display:flex;
    flex-direction: row;
    width: 30%;
}

.restaurantList{

    margin-left:10%;
}

.restaurantShape{
    display:flex;
    width : 40%;
    height:300px;
}

.footerMenu{
    padding:20px;
}

.restaurantPicture{
    height:260px;
}

.restaurantContent{
    font-size: 1.3em;
}


.far{
    padding-right: 50px;
}

.restaurantTitle{
    display:flex;
    justify-content: center;
}
}
    
    
@media screen and (min-width: 1441px) and (max-width: 2560px) {
    
.functioningTitle{
    display: flex;
    justify-content: center;
}

.functioningButton{
    display:flex;
    flex-direction: row;
    width: 20%;
}

.restaurantShape{
    display:flex;
    justify-content:space-between ;
    width : 22%;
    height:300px;
}

.restaurantList{
    margin-left:3%;
}

.footerMenu{
    padding:20px;
}

.restaurantPicture{
    height:260px;
}

.restaurantContent{
    font-size: 1.3em;
}

.restaurantTitle{
    display:flex;
    justify-content: center;
}

.restaurantContent .far {
    width:35px;
}
}









/* Menu Mobile First */



.header img{

margin-top:20px;
}

.menu {
background: #f7f7f7;
display: flex;
flex-direction: column;

}
.menuSection{
display: flex;
flex-direction: column;
justify-content: flex-end;
height:240px;
width: 100%;

}
.pictureALaFrancaise {
background: no-repeat center/100% url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
.pictureLaNoteEnchantee {
background: no-repeat center/100% url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}
.pictureLaPaletteDuGout {
background: no-repeat center/100% url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.pictureLeDeliceDesSens {
background: no-repeat center/100% url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.menuGreatTitle{
display: flex;
align-items: center;
font-family: "Shrikhand", cursive;
background: #f7f7f7;
border-top-left-radius: 50px; 
border-top-right-radius: 50px;
letter-spacing: 1px;
position:relative;
top:20%;


}

h1{
padding-left: 20px;
padding-top:10px;


}

.menuGreatTitle .far  {
font-size: 1.5em;
position:absolute;
left:85%;
}

.far:hover{
background: -webkit-gradient(linear, right top, right bottom, from(#9356DC), to(#FF79DA));
font-weight: 600;
-webkit-text-fill-color:transparent;
background-clip:text;
-webkit-background-clip: text;
}

.menuCard {
background: #f7f7f7;
padding: 15px;
height:300px;
}


.menuCard h3 {
margin: 10px 0 2px;
font-size: 1.1em;
font-weight: 300;
text-transform: uppercase;
}

.menuTitle {
display: flex;
flex-direction: column;
margin: auto;
margin-top:50px;
}

.menuTitle1{
    margin-top:130px;
}

.menuTitle2{
    margin-top:110px;
}

.borderBottom {
width: 50px;
height: 4px;
background: #99E2D0;
}

.set {
display: flex;
background-color: white;
border-radius: 15px;
padding: 15px;
margin: 15px 0;
box-shadow: 5px 5px 10px #dddddd;
-webkit-transform: scale(0);
transform: scale(0);
max-width: 100%;
height:40px;
cursor: pointer;
}

.setContent {
width: 100%;
}

.setContent p{
font-size: 13px;
margin:2px;
}

.setPrice{
font-weight: 600;
font-size: 15px;
padding-top:5px;
padding-right: 40px;

}

.set:hover
.rateBox{
background-color: #99e2d0;
opacity: 100%;
width: 90px;
-webkit-transition: 0.6s;
transition: 0.6s;

}

.rateBox {
background-color: white;
width: 0%;
display: flex;
-webkit-box-align: center;
align-items: center;
-webkit-box-pack: center;
justify-content: center;
height: 72px;
border-radius: 0 17px 17px 0;
margin: -16px;
opacity: 0%;

}

.rateBox .fas{

color: white;
font-size: 1.5em;

}

.setAnim1{

animation: apparition 500ms linear 1 forwards;
animation-delay: 900ms;
animation-delay: 0.3s;

}

.setAnim2 {
animation: apparition 500ms linear 1 forwards;
animation-delay: 900ms;
animation-delay: 0.6s;
}

.setAnim3{
animation: apparition 500ms linear 1 forwards;
animation-delay: 900ms;
animation-delay: 0.9s;
}


.setAnim4 {
animation: apparition 500ms linear 1 forwards;
animation-delay: 900ms;
animation-delay: 1.3s;
}


@keyframes apparition {
0% {
    opacity: 0;
    transform: translateY(10px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}

.setAnim1:hover i, 
.setAnim2:hover i,
.setAnim3:hover i,
.setAnim4:hover i{

-webkit-animation: spin 0.5s linear;
animation: spin 0.5s linear;

}

@keyframes spin {

0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
.button{

background-color: #f7f7f7;
height:200px;
}

.buyButton{
display:flex;
justify-content: center;
position:relative;
top:50%;
text-decoration: none;
padding: 14px 24px;
background-image: linear-gradient(180deg, #9356DC, #FF79DA);
border-radius: 50px;
box-shadow: 0px 6px 10px rgb(175 175 175 / 60%);
color: #FFF;
margin: auto;
width: 130px;
transition: 100ms;
}

.buyButton:hover{

filter: brightness(1.2);
transform: scale(1.05);
box-shadow: 0px 8px 11px #888888;

}


/* Responsive Menu */

@media screen and (min-width: 600px) and (max-width: 1024px) {

.header a{
    position:relative;
    right:30%;
}
.menuGreatTitle .far{
    position:absolute;
    left:93%;
}

}

@media screen and (min-width: 1025px) and (max-width: 1440px) {

.header a{
    position:relative;
    right:30%;
} 
.menuGreatTitle .far{

    position:absolute;
    left:93%;
 
}
}

@media screen and (min-width: 1441px) and (max-width: 2560px) {

.header a{
    position:relative;
    right: 12%; top:45px;
} 

.menuGreatTitle .far{
   position:absolute;
   left:93%;
}

.menu{
    width:50%;
    margin:auto;
}

.menuCard{
    height:350px;
    width: 98%;
}
}










